<h2 class="exam_title">Course stuff</h2>
<?php
$categoryByStore = $this->getRootCategoriesByStore();
$categoryCollection = $this->getCategories();
?>
<ul id="examList">
    <?php /**@var \Magento\Catalog\Model\Category $category */ ?>
    <?php foreach ($categoryByStore as $category): ?>
        <li class="list">
            <span class="firstName"><?php echo $category['storeName']; ?></span>
            <span class="mark"><?php echo  $category['id'];?></span>
            <span class="lastName"><?php echo $category['name'];?></span>
        </li>
    <?php endforeach; ?>
</ul>

<ul id="examList">
    <li class="listTitle">
    <?php /**@var \Magento\Catalog\Model\Category $category */ ?>
    <?php foreach ($categoryCollection as $category): ?>
        <li class="list">
            <span class="firstName"><?php echo $category->getName(); ?></span>
            <span class="lastName"><?php echo $category->getEntityId(); ?></span>
            <span class="mark"><?php echo $category->getId(); ?></span>
            <span class="mark"><?php echo $category->getIdFieldName(); ?></span>
            <span class="mark"><?php echo $category->getStoreId(); ?></span>
            <span class="mark"><?php var_export( $category->getResource()->getAttribute('name')->getBackend()->getTable()); ?></span>
        </li>
    <?php endforeach; ?>
</ul>
