<h2 class="exam_title">Exams results</h2>
<?php
$exams = $this->getExams();
$highestMark = $this->getHighestMark();
?>
<ul id="examList">
    <li class="listTitle">
        <span class="firstName">Name</span>
        <span class="lastName">Last Name</span>
        <span class="mark">Mark</span>
    </li>
    <?php /**@var \Hiberus\Orts\Model\Exam $exam */ ?>
    <?php foreach ($exams as $exam): ?>
        <li class="list">
            <span class="firstName"><?php echo $exam->getFirstName(); ?></span>
            <span class="lastName"><?php echo $exam->getLastName(); ?></span>
           <span class="mark"><?php echo $exam->getMark(); ?></span>
        </li>
    <?php endforeach; ?>
</ul>
<div>
    <button type="button" id="hideMarks">
        Hide Marks
    </button>
    <div class="divisor"></div>
    <button type="button" id="highestMark">
        Highest Mark
    </button>
</div>
<script>
    require(['jquery', 'exam',  'highest', 'average', 'threeBest'], function($, hideMarks, getHighest, average, threeBest) {
        hideMarks();
        getHighest();
        average();
        threeBest();
    });
</script>
