@color: #514943;
@margin-left-primary: 20px;
* {
	box-sizing: border-box;
}
ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 50%;
}
li.list {
	align-items: flex-end;
	display: flex;
	padding: 1em 0.5em;
	width: 100%;
}
.divisor {
	display: inline-block;
	height: auto;
	width: 15px;
}
.exam_title {
	-webkit-background-clip: text;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #6e716e 768px, #8e908e 768px, #a5a9a5 100%);
    font-size: 36px;
    color: #fff;
    margin-bottom: 0px;
}
.firstName {
	padding-right: 40px;
}
.lastName {
	padding-right: 40px;
}
.mark {
	padding-right: 40px;
}
.list {
	&:nth-child(odd) {
		background-color: #E7FFE7;
	}
	&:nth-child(even) {
		background-color: #FDE7E7;
		margin-left: @margin-left-primary;
	}
}
ul>li {
	margin-bottom: 0;
    border-radius: 10px;
}
ol>li {
	margin-bottom: 0;
}
.listTitle {
	background-color: #f9f9f9;
	font-weight: bold;
}
